.new-tweet {
 background-color: lightgrey;
 border-radius: 5px;
 margin-left: 2em;
 margin-right: 2em;
}

.new-tweet h2 {
  padding-top: 16px;
  margin: 5% 2.5%;
  border-bottom:2px solid black;
}

.new-tweet textarea {
  margin: 0 2.5%;
  width: 95%;
}

.new-tweet input {
  margin: 5px 2.5%;
}

.new-tweet .counter {
  margin: 5px 5%;
  float: right;
}